<#include "/comm/head.html">
<body>
<div id="app">

    <div class="demo-form-inline"  style="padding: 5px 20px 0px 0px;width: 100%;">


        <el-form status-icon :model="formData" :rules="rules" ref="formData" label-width="200px" style="width: 100%;">
            <el-row>
                <el-col :span="12">
                    <el-form-item label="姓名" prop="name">

                        <el-input v-model="formData.name" placeholder="请输入内容"></el-input>

                    </el-form-item>
                </el-col>

                <el-col :span="12">
                    <el-form-item label="联系电话" prop="phone">

                        <el-input v-model="formData.phone" placeholder="请输入内容"></el-input>

                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="身份证" prop="identityInformationNumber">
                    
                    <el-input v-model="formData.identityInformationNumber" placeholder="请输入内容"></el-input>
                    
                    </el-form-item>
                </el-col>

                <el-col :span="12">
                    <el-form-item label="公司名称" prop="department">

                        <el-input v-model="formData.department" placeholder="请输入内容"></el-input>

                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="房间号" prop="roomNumber">
                    
                    <el-input v-model="formData.roomNumber" placeholder="请输入内容"></el-input>
                    
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="公司负责人" prop="companyContacts">
                    
                    <el-input v-model="formData.companyContacts" placeholder="请输入内容"></el-input>
                    
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="公司负责人电话" prop="companyContactsPhone">
                    
                    <el-input v-model="formData.companyContactsPhone" placeholder="请输入内容"></el-input>
                    
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="高危否" prop="isFlag">

                    <el-select v-model="formData.isFlag" placeholder="请选择高危否" style="width:100%">
                        <el-option value="" label="请选择高危否"></el-option>
                        <el-option v-for="(item, index) in flagList" :key="item.value" :value="item.id" :label="item.name"></el-option>
                    </el-select>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="进京时间" prop="enterBeiJingTime">
                        <el-date-picker   style="width:100%"
                                          v-model="formData.enterBeiJingTime"
                                          type="date"
                                          format="yyyy-MM-dd"
                                          value-format="yyyy-MM-dd"
                                          placeholder="请选择日期">
                        </el-date-picker>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="认证否" prop="isFlag">

                        <el-select v-model="formData.isAdmittance" placeholder="请选择认证否" style="width:100%">
                            <el-option value="" label="请选择认证否"></el-option>
                            <el-option v-for="(item, index) in flagList" :key="item.value" :value="item.id" :label="item.name"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="人员类型" prop="personType">

                        <el-input v-model="formData.personType" placeholder="请输入内容"></el-input>

                    </el-form-item>
                </el-col>
            </el-row>
            <el-form-item>
                <el-button v-show="btnAddShow" type="success" icon="el-icon-circle-check-outline" @click="add()">继续添加</el-button>
               <el-button type="primary" icon="el-icon-check" @click="save()">保存</el-button>
                <el-button type="info" icon="el-icon-close" @click="close()">关闭</el-button>
            </el-form-item>
        </el-form>

    </div>

</div>

<#include "/comm/js.html">

<script type="text/javascript">
    let entity = ${entity};
    let {id='',sort='',notes='',isAdmittance='',identityInformationNumber='',name='',phone='',park='',floorNumber='',roomNumber='',department='',companyContacts='',companyContactsPhone='',isFlag='',enterTimeTitle='',personType=''} = entity;

    var vue = loadForm(
        {
            methods:{
            },
            formData:{
                id: id
                , notes: notes
                , identityInformationNumber: identityInformationNumber
                , name: name
                , phone: phone
                , park: park
                , floorNumber: floorNumber
                , roomNumber: roomNumber
                , department: department
                , companyContacts: companyContacts
                , companyContactsPhone: companyContactsPhone
                , isFlag: isFlag.toString()
                , isAdmittance: isAdmittance.toString()
                , enterBeiJingTime: enterTimeTitle ? new Date(enterTimeTitle) : null
                , personType: personType
            },
            rules: {
                identityInformationNumber:[
                    { required: true, message: '请输入身份证', trigger: 'blur' },
                    { min: 1, max: 30, message: '长度在 1 到 30 个字符', trigger: 'blur' }
                ],
                name:[
                    { required: true, message: '请输入姓名', trigger: 'blur' },
                    { min: 1, max: 30, message: '长度在 1 到 30 个字符', trigger: 'blur' }
                ],
                phone:[
                    { required: true, message: '请输入联系电话', trigger: 'blur' },
                    { min: 1, max: 30, message: '长度在 1 到 30 个字符', trigger: 'blur' }
                ],
                park:[
                    { required: true, message: '请输入园区', trigger: 'blur' },
                    { min: 1, max: 30, message: '长度在 1 到 30 个字符', trigger: 'blur' }
                ],
                roomNumber:[
                    { required: true, message: '请输入房间号', trigger: 'blur' },
                    { min: 1, max: 30, message: '长度在 1 到 30 个字符', trigger: 'blur' }
                ],
                companyContacts:[
                    { required: true, message: '请输入负责人', trigger: 'blur' },
                    { min: 1, max: 30, message: '长度在 1 到 30 个字符', trigger: 'blur' }
                ],
                companyContactsPhone:[
                    { required: true, message: '请输入负责人电话', trigger: 'blur' },
                    { min: 1, max: 30, message: '长度在 1 到 30 个字符', trigger: 'blur' }
                ],
                isFlag:[
                    { required: true, message: '请选择高危否', trigger: 'change' }
                ],
                isAdmittance:[
                    { required: true, message: '请选择认证否', trigger: 'change' }
                ],
                personType:[
                    { required: false, min: 1, max: 20, message: '长度在 1 到 20 个字符', trigger: 'blur' }
                ]
            },
            data:{
                btnAddShow:false
                ,flagList:[
                    {id:'1',name:'是'}
                    ,{id:'0',name:'否'}
                ]
            },
            urlSave:'${base}/identityinformation/save',
            dialogIndex:0,
            iframe:'${iframe}'
        }
    );


</script>
</body>
</html>

