
<#include "/comm/head.html">
<body>
<style>
    .el-header .el-input__inner{ width:140px; }
    .el-date-editor { width:140px !important; }
    .el-header{ padding: 0 5px }
    .el-main {
        padding: 0px;
        margin: 0px;
        overflow:visible !important;
    }
</style>
<div id="app">
<el-container>
    <el-main>
            <el-table
                    :data="tableData"
                    style='width:100%;'
                    :height="tableHeight"
                    @selection-change="handleSelectionChange"
                    border>
                <el-table-column
                        type="index"
                        label="序号"
                        width="50">
                </el-table-column>

                <el-table-column
                        prop='identityInformationNumber'
                        label="身份证号">
                </el-table-column>
                <el-table-column
                        prop='gmtModified'
                        label="刷证时间">
                </el-table-column>


            </el-table>

            <div align="center">
                <el-pagination
                        @size-change="handleSizeChange"
                        @current-change="handleCurrentChange"
                        :current-page="currentPage"
                        :page-sizes="[10, 20, 30, 40]"
                        :page-size="pagesize"
                        layout="total, sizes, prev, pager, next, jumper"
                        :total="totalCount">
                </el-pagination>
            </div>
    </el-main>
</el-container>
</div>

<#include "/comm/js.html">

<script type="text/javascript">

    var vue = loadTable({
            data:{
                button:${button},
                search:{
                    idIdentityInformation:{op:"eq",data:"${idIdentityInformation}"},
                    editor:{op:"cn",data:""},
                    gmtModified:[{op:"ge",data:""},{op:"le",data:""}]
                }
            },
            urlList:"${base}/identityswipe/listByPage",
            urlDel:"${base}/identityswipe/del/",
            urlEdit:"${base}/identityswipe/view/editEntrance/${iframe}",
            urlChangeOrder:"${base}/identityswipe/changeOrder",
            urlExport:"${base}/identityswipe/export/excel",
            dialogWidth:800,
            dialogHeight:350,
            title:'刷卡信息',
            dialogIndex:0,
            methods:{
                
            }
        });




</script>
</body>
</html>