<#include "/comm/head.html">
<body>
<div id="app">

    <div class="demo-form-inline"  style="padding: 5px 20px 0px 0px;width: 100%;">


        <el-form status-icon :model="formData" :rules="rules" ref="formData" label-width="80px" style="width: 100%;">
            <el-row>
                <el-col :span="12">
                    <el-form-item label="人员id" prop="idIdentityInformation">
                    
                    <el-input placeholder="请输入内容" type="idIdentityInformation" v-model.number="formData.idIdentityInformation" autocomplete="off"></el-input>
                    
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="备注" prop="notes">
                    
                    <el-input v-model="formData.notes" placeholder="请输入内容"></el-input>
                    
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="身份证号" prop="identityInformationNumber">
                    
                    <el-input v-model="formData.identityInformationNumber" placeholder="请输入内容"></el-input>
                    
                    </el-form-item>
                </el-col>
            </el-row>
            <el-form-item>
                <el-button v-show="btnAddShow" type="success" icon="el-icon-circle-check-outline" @click="add()">继续添加</el-button>
               <el-button type="primary" icon="el-icon-check" @click="save()">保存</el-button>
                <el-button type="info" icon="el-icon-close" @click="close()">关闭</el-button>
            </el-form-item>
        </el-form>

    </div>

</div>

<#include "/comm/js.html">

<script type="text/javascript">
    let entity = ${entity};
    let {id='',idIdentityInformation='',sort='',notes='',identityInformationNumber=''} = entity;
    var vue = loadForm(
        {
            methods:{
            },
            formData:{
                id:id
                  ,idIdentityInformation:idIdentityInformation          
                  ,notes:notes          
                  ,identityInformationNumber:identityInformationNumber          
            },
            rules: {
                idIdentityInformation:[
                    { required: true, message: '请输入人员id', trigger: 'blur' },
                    { type: 'number', message: '人员id必须为数字值',trigger: 'blur' }
                ],
                notes:[
                    { required: true, message: '请输入备注', trigger: 'blur' },
                    { min: 1, max: 30, message: '长度在 1 到 30 个字符', trigger: 'blur' }
                ],
                identityInformationNumber:[
                    { required: true, message: '请输入身份证号', trigger: 'blur' },
                    { min: 1, max: 30, message: '长度在 1 到 30 个字符', trigger: 'blur' }
                ],
            },
            data:{
                btnAddShow:(entity.id?false:true)
            },
            urlSave:'${base}/identityswipe/save',
            dialogIndex:0,
            iframe:'${iframe}'
        }
    );


</script>
</body>
</html>

