<#include "comm/head.html">
<body>
<style>
    /*隐藏掉首页的x*/
    #tab-main span {
        display: none;
    }

    .el-header, .el-footer {
        background-color: #e4e7ed;
        color: #333;
        text-align: center;
        line-height: 60px;
    }

    .el-header {
        background-color: #e4e7ed;
        color: #333;
        line-height: 60px;
    }

    /*.el-aside{background-color: #545c64;color: #333;text-align: left;line-height: 200px;}*/
    .el-aside {
        background-color: #2f4050;
        color: #333;
    }

    .el-main {
        background-color: #E9EEF3;
        color: #333;
        text-align: center;
        line-height: 160px;
        padding: 0px;
        overflow: visible !important;
    }

    .el-tabs--border-card > .el-tabs__content {
        height: 100%;
        padding: 0px;
    }

    .el-tabs__nav {
        height: 38px;
    }

    .el-tabs__item {
        top: -60px;
    }

    html, body, #app {
        height: 100%;
        margin: 0px;
        padding: 0px;
        display: flex;
        flex: 1;
        overflow: hidden;
    }

    .el-menu {
        border-right: solid 1px #293846;
        list-style: none;
        position: relative;
        margin: 0;
        padding-left: 0;
    }

    .row-canvas {
        position: relative;
    }

    /*.time-selecr{position: absolute;right: 20px;top: 20px;z-index: 99999;}*/
    .counts-liner {
        width: 100%;
        height: 50px;
        background: #393D49;
        box-sizing: border-box;
        padding: 0 20px;
    }

    .echarts-title {
        color: #fff;
        line-height: 50px;
        float: left;
    }

    .row-canvas {
        float: right;
        margin-top: 6px;
        width: 370px;
        height: 38px;
    }

    .row-canvas .layui-form-label {
        color: #fff;
        width: 90px;
    }

    .four-echarts .contStyle {
        float: left;
    }

    .time-selecr {
        width: 300px;
        position: absolute;
        right: 10px;
    }

    .contStyle p {
        text-align: center;
        line-height: 400px;
    }

    .time-selecr .layui-input-inline {
        float: right;
    }

    .layui-inline.time-selecr {
        position: absolute;
        width: 310px;
        right: 10px;
    }

    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }

    .wrapper-row .grid-demo {
        box-sizing: border-box;
        padding: 14px 10px;
    }

    .tit-list {
        height: 30px;
        line-height: 30px;
        text-align: left;
        margin: 10px 20px;
    }

    .btn-data {
        display: block;
        float: right;
        height: 50px;
        line-height: 50px;
        cursor: pointer;
        color: #fff;
    }

    .el-tabs--border-card.is_active > .el-tabs__header .el-tabs__item {
        color: #409EFF;
        background-color: #fff;
        border-right-color: #dcdfe6;
        border-left-color: #dcdfe6;
    }

    .item {
        margin-top: 0px;
        margin-right: 40px;
    }

    .el-badge__content.is-fixed {
        position: absolute;
        top: 10px;
        right: 15px;
        -webkit-transform: translateY(-50%) translateX(100%);
        transform: translateY(-50%) translateX(100%);
    }

</style>
<div id="app" v-cloak>


        <!--<el-aside v-if="msg != 'msg'" width="200px">-->
        <!--<div style="text-align: center;color: #fff;" v-text="msg"></div>-->
        <!--</el-aside>-->



        <iframe style="height: 100%;width: 100%;" src="${base}/identityinformation/view/moduleEntrance/main" frameborder="0"
                            id="main" name="main" closable="false"
                            scrolling="no" marginwidth="0px" marginheight="0px"></iframe>


        <el-dialog :close-on-click-modal="false" :close-on-press-escape="false" custom-class="dialogCustom0"
                   @close="closeDialog(0)" :title="dialog[0].title" :visible.sync="dialog[0].visible"
                   :width="dialog[0].width+20">
            <iframe :width="dialog[0].width" :height="dialog[0].height" id="dialog0" :src="dialogUrl(0)" frameborder="0"
                    scrolling="no" marginwidth="0px" marginheight="0px"></iframe>
        </el-dialog>
        <el-dialog :close-on-click-modal="false" :close-on-press-escape="false" custom-class="dialogCustom1"
                   @close="closeDialog(1)" :title="dialog[1].title" :visible.sync="dialog[1].visible"
                   :width="dialog[1].width+20">
            <iframe :width="dialog[1].width" :height="dialog[1].height" id="dialog1" :src="dialogUrl(1)" frameborder="0"
                    scrolling="no" marginwidth="0px" marginheight="0px"></iframe>
        </el-dialog>
        <el-dialog :close-on-click-modal="false" :close-on-press-escape="false" custom-class="dialogCustom2"
                   @close="closeDialog(2)" :title="dialog[2].title" :visible.sync="dialog[2].visible"
                   :width="dialog[2].width+20">
            <iframe :width="dialog[2].width" :height="dialog[2].height" id="dialog2" :src="dialogUrl(2)" frameborder="0"
                    scrolling="no" marginwidth="0px" marginheight="0px"></iframe>
        </el-dialog>
        <el-dialog :close-on-click-modal="false" :close-on-press-escape="false" custom-class="dialogCustom3"
                   @close="closeDialog(3)" :title="dialog[3].title" :visible.sync="dialog[3].visible"
                   :width="dialog[3].width+20">
            <iframe :width="dialog[3].width" :height="dialog[3].height" id="dialog3" :src="dialogUrl(3)" frameborder="0"
                    scrolling="no" marginwidth="0px" marginheight="0px"></iframe>
        </el-dialog>
        <el-dialog :close-on-click-modal="false" :close-on-press-escape="false" custom-class="dialogCustom4"
                   @close="closeDialog(4)" :title="dialog[4].title" :visible.sync="dialog[4].visible"
                   :width="dialog[4].width+20">
            <iframe :width="dialog[4].width" :height="dialog[4].height" id="dialog4" :src="dialogUrl(4)" frameborder="0"
                    scrolling="no" marginwidth="0px" marginheight="0px"></iframe>
        </el-dialog>
        <iframe :src="exportUrl" style="display: none;"></iframe>

    <el-dialog :close-on-click-modal="false" :close-on-press-escape="false" custom-class="dialogInportCustom0" @close="dialogImportHide()" :title="dialogImport.title" :visible.sync="dialogImport.visible" :width="300">

        <el-upload
                ref="upload"
                :action="dialogImport.url"
                :limit="1"
                :on-success="importSuccess"
                :on-exceed="handleExceed"
                :on-error="importError"
                class="upload-demo"
                :auto-upload="false"
                :file-list="fileList">
            <el-button slot="trigger" size="small" type="primary">选择文件</el-button>
            <el-button style="margin-left: 10px;" size="small" type="success" @click="importExcel">上传</el-button>
            <div slot="tip" class="el-upload__tip">只能上传Excel文件，且不超过3Mb</div>
        </el-upload>
    </el-dialog>
</div>

<#include "comm/js.html">
<script src="${base}/lib/ztree/js/jquery-1.4.4.min.js"></script>
<script type="text/javascript">
    var vue = new Vue({
        el: '#app',
        data: {
            checkNum: 0,
            dealNum: 0,
            transferNum: 0,
            dialog: [
                {title: '', visible: false, url: '', width: 600, height: 500},
                {title: '', visible: false, url: '', width: 600, height: 500},
                {title: '', visible: false, url: '', width: 600, height: 500},
                {title: '', visible: false, url: '', width: 600, height: 500},
                {title: '', visible: false, url: '', width: 600, height: 500}
            ],
            exportUrl: '',
            dialogImport: { visible:false,title:'导入',url:'',iframe:'',duration:3000 },
            fileList:[],
            isActive: false
        },
        computed: {
            mainHeight: function () {
                return document.body.clientHeight - 50;
            },
            tabHeight: function () {
                sessionStorage.setItem("sheight", document.body.clientHeight - 130);
                return document.body.clientHeight - 90;
            },
            tabWidth: function () {
                return document.body.clientWidth - 230;
            }
        },
        methods: {
            // 校验上传文件格式
            beforeAvatarUpload(file,fileList) {
                const fileType = file.type === 'application/vnd.ms-excel';
                const fileSize = file.size / 1024 / 1024 < 3;
                if (!fileType) {
                    fileList = [];
                    this.$message.error('只能上传Excel文件格式!');
                }
                if (!fileSize) {
                    this.$message.error('上传文件大小不能超过3MB!');
                }

                return fileType && fileSize;
            },
            handleExceed(files, fileList){
                this.$message.error("最多上传一个文件!");
            },
            dialogImportHide(){
                this.dialogImport.visible = false;
                this.dialogImport.url = '';
                this.fileList = [];
            },
            import(url,iframe,duration){
                this.dialogImport.visible = true;
                this.dialogImport.url = url;
                this.dialogImport.iframe = iframe;
                if(typeof duration == "undefined" || duration == null ){
                    this.dialogImport.duration = 3000;
                }
                else {
                    this.dialogImport.duration = duration;
                }
            },
            importSuccess(response, file, fileList){
                if(response.code===0){
                    window.frames[this.dialogImport.iframe].vue.reload();
                    this.dialogImportHide();
                }
                else if(response.code===-1014){
                    let op = {duration:this.dialogImport.duration,type: 'error', message: "【详情请看下载附件】"+response.message};
                    if(op.duration===0){
                        op['showClose'] = true;
                    }
                    this.$message(op);
                    this.dialogImportHide();
                    this.export("${base}/importErr/excel?"+new Date());
                }
                else{
                    let op = {duration:this.dialogImport.duration,type: 'error', message: response.message};
                    if(op.duration===0){
                        op['showClose'] = true;
                    }
                    this.$message(op);
                }
            },
            importError(err, file, fileList){
                vue.$message({type: 'error', message: "服务器网络错误"});
            },
            importExcel(){
                /*
                if(this.$refs.upload.uploadFiles.length <= 0){
                    this.$message.error("请上传附件");
                    return;
                }
                */
                this.$refs.upload.submit();
            },
            export: function (url) {
                this.exportUrl = url;
            },
            dialogShow: function (index, {title, url, width, height}) {
                this.dialog[index].url = url;
                this.dialog[index].title = title;
                this.dialog[index].visible = true;
                this.dialog[index].height = height;
                this.dialog[index].width = width - 20;
                $(".dialogCustom" + index).css("width", width + "px");
            },
            dialogHide: function (index) {
                this.dialog[index].url = '';
                this.dialog[index].title = '';
                this.dialog[index].visible = false;
            },

            closeDialog: function (ind) {
                this.dialog[ind].url = '';
                this.dialog[ind].title = '';
            },
            dialogUrl: function (ind) {
                //console.log(111);
                let u = this.dialog[ind].url;
                if (u == '' || u == null) {
                    return null;
                }
                return u + (u.indexOf("?") > -1 ? "&" : "?") + "token=";
            }
        },
        mounted: function () {

        }
    });

</script>